services = {{ range $index, $data := service "a_service" -}}
  {{- $data.Name -}}
{{- end }}

secret = {{ with secret "a_secret_path" -}}
  {{- .Data.a_secret }}
{{- end }}

regexReplaceAll = {{ "simple" | regexReplaceAll "http://(.*)ple" "$1" }}

file = {{ file "a_filepath" }}

env = {{  env "a_environment_variable" }}

keyOrDefault = {{ keyOrDefault "simple-not-existing" "default" }}

key = {{ key "a_key" }}
