services = {{ range $index, $data := service "a_service" -}}
  {{- $data.Name -}}
{{- end }}

{{ with secret "a_secret_path" -}}
secret = a_secret: {{ .Data.a_secret }}
a_list_of_secrets: {{ index .Data.a_list_of_secrets 0 }} {{ index .Data.a_list_of_secrets 1 }}
{{- end }}

regexReplaceAll = {{ "simple" | regexReplaceAll "http://(.*)ple" "$1" }}

file = {{ file "a_filepath" }}

env = {{  env "a_environment_variable" }}

keyOrDefault = {{ keyOrDefault "simple-not-existing" "default" }}

key = {{ key "a_key" }}
